html {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

body {
    font-size: 12px !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    min-width: 1100px;
    min-height: 500px;
    height: 100%;
    width: 100%;
}

.content {
  height: calc(100% - 10px);
}

.content > div {
  height: calc(100% - 10px)
}

.form-input-label {
  text-align: right;
}

span.required {
  color: red;
}

.footer {
  padding: 10px 0px;
}

select.day, select.year {
  width: 25%;
}

select.month {
  width: 50%;
}

.adr-form {
  background-color: #71C7A0;
  padding: 20px 0px;
}

.logo {
  width: 70%;
}

.pointer {
  cursor: pointer;
}

.sae-form {
  background-color: #7f7fff;
  padding: 20px 0px;
}

.saefi-form {
  background-color: #e293bf;
  padding: 20px 0px;
}

.content-page {
  margin-bottom: 5px;
}

.pagination {
  margin: 5px 0px;
}

.aefi-form {
  background-color: #FF92C9;
  padding: 20px 0px;
}

.login-signup-box {
  margin: 0 auto;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  width: 500px;
  padding: 10px;
}

.saved-reports {
  margin-top: 10px;
}

.search-form {
  margin-left: 20px;
  float: left;
}

.search-form div {
  margin-right: 10px;
}

.top-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}
/**
  date picker fixes
*/
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 30px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
